
a:hover, a {
	color:inherit
}



/*
.title {
	background-image:url("images/Andrea_Castagno_Boccaccio.jpg");
	padding:7% 0% 1% 1%;
}
.title-h {
	background-color:OldLace; 
	color:DarkSlateGrey;
	border-radius:0px 15px 15px 0px;
	padding:1%;
	display:inline;
	line-height: 1.9
}
*/

.title {
	background-image:url("images/Soldiers.jpg");
	background-size:1920px;
	color:white;
	padding:1%
}



.legend {
	margin:50px 0px 10px 0px;
	text-align:center
}

.border-bottom {
	border-bottom:30px solid white
}


td {
	border:none
}

legend {
	display:block;
	width:100%;
	padding:0;
	margin-bottom:3px;
	font-size:1em;
	font-weight:bold;
	line-height:inherit;
	border:0}
	
	
.row {
	margin-bottom:10px
}

.button {
	text-align:center;
	margin:20px 0px 60px 0px
}

.AliceBlue {
	background-color: AliceBlue
}


.FloralWhite {
	background-color: FloralWhite
}

.Ivory {
	background-color: Ivory
}


.MintCream {
	background-color: MintCream
}

.SeaShell {
	background-color: SeaShell
}